<a href="https://colab.research.google.com/github/Geetraje/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Optimization3 - Retaining Name column,removing Special_Considerations and Status columns and adding two more hidden layers with different activation functions**

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID column 'EIN' 
application_df = application_df.drop(['EIN', 'SPECIAL_CONSIDERATIONS', 'STATUS'], axis =1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [ ]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of Names to be replaced
# using the variable name `names_to_replace`
names_to_replace = list(name_counts[name_counts<10].index)

#Replace in dataframe
for name in names_to_replace:
  application_df['NAME'] = application_df['NAME'].replace(name, 'Other')

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 2000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)
#application_numeric

In [ ]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop('IS_SUCCESSFUL', axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation='tanh', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=17, activation='tanh'))

#Third hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation='tanh'))

#Fourth Hidden Layer
nn.add(tf.keras.layers.Dense(units=5, activation='tanh'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 20)                5400

 dense_20 (Dense)            (None, 17)                357

 dense_21 (Dense)            (None, 10)                180

 dense_22 (Dense)            (None, 5)                 55

 dense_23 (Dense)            (None, 1)                 6

=================================================================
Total params: 5,998
Trainable params: 5,998
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5006 - accuracy: 0.7608
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4513 - accuracy: 0.7841
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4454 - accuracy: 0.7849
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4425 - accuracy: 0.7862
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4403 - accuracy: 0.7864
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4377 - accuracy: 0.7882
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4364 - accuracy: 0.7875
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4356 - accuracy: 0.7881
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4345 - accuracy: 0.7893
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4331 - accuracy: 0.7908
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4321 - accuracy: 0.7912
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4321 - accuracy: 0.7908
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4308 - accuracy: 0.7922
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4301 - accuracy: 0.7916
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4299 - accuracy: 0.7914
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4291 - accuracy: 0.7927
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7925
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7932
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.7928
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4269 - accuracy: 0.7940
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4263 - accuracy: 0.7947
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4258 - accuracy: 0.7938
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7948
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4254 - accuracy: 0.7950
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4252 - accuracy: 0.7941
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4245 - accuracy: 0.7939
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4244 - accuracy: 0.7939
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4241 - accuracy: 0.7946
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4238 - accuracy: 0.7937
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7960
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4229 - accuracy: 0.7951
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4235 - accuracy: 0.7956
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4227 - accuracy: 0.7945
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4224 - accuracy: 0.7961
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4223 - accuracy: 0.7948
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4218 - accuracy: 0.7958
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4219 - accuracy: 0.7954
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4216 - accuracy: 0.7956
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4215 - accuracy: 0.7955
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4211 - accuracy: 0.7965
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4211 - accuracy: 0.7954
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4211 - accuracy: 0.7963
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4207 - accuracy: 0.7970
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4206 - accuracy: 0.7956
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7966
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4203 - accuracy: 0.7965
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7960
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4199 - accuracy: 0.7965
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4197 - accuracy: 0.7949
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4196 - accuracy: 0.7963
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4196 - accuracy: 0.7961
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4193 - accuracy: 0.7971
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4191 - accuracy: 0.7966
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4189 - accuracy: 0.7968
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.7978
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4189 - accuracy: 0.7973
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7970
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.7971
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4184 - accuracy: 0.7970
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4183 - accuracy: 0.7962
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4185 - accuracy: 0.7972
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7974
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4180 - accuracy: 0.7967
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4179 - accuracy: 0.7977
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7977
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4182 - accuracy: 0.7966
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4176 - accuracy: 0.7975
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4172 - accuracy: 0.7972
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7979
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.7980
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7975
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7975
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.7979
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4172 - accuracy: 0.7979
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4172 - accuracy: 0.7995
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.7986
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4168 - accuracy: 0.7975
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4165 - accuracy: 0.7970
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.7972
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.7984
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.7978
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4169 - accuracy: 0.7990
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4165 - accuracy: 0.7980
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4165 - accuracy: 0.7980
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4166 - accuracy: 0.7983
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7987
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4165 - accuracy: 0.7994
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.7988
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4160 - accuracy: 0.7987
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7993
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.7984
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.7987
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4160 - accuracy: 0.7991
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.7992
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.7980
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4161 - accuracy: 0.7984
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.7983
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.7987
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7986
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.7982

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4675 - accuracy: 0.7809 - 468ms/epoch - 2ms/step
Loss: 0.4674719274044037, Accuracy: 0.7808746099472046

In [ ]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization3.h5')