<a href="https://colab.research.google.com/github/Geetraje/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis =1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(application_counts[application_counts < 500].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)
#application_numeric

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop('IS_SUCCESSFUL', axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 2ms/step - loss: 0.5680 - accuracy: 0.7228
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7302
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7310
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7315
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7340
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7338
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7343
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7335
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7331
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7347
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7361
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7354
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7371
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7356
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7362
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7358
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7376
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7358
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7367
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7372
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7381
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7374
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7386
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7376
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7380
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7385
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7382
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7385
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7389
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7392
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7387
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7389
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7401
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7390
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7391
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7398
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7396
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7393
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7398
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5386 - accuracy: 0.7397
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7386
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7403
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7403
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7404
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7407
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7400
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7397
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7388
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7403

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5568 - accuracy: 0.7251 - 502ms/epoch - 2ms/step
Loss: 0.5567676424980164, Accuracy: 0.7251312136650085

In [21]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')